{% extends 'students/base.html' %}
{% load path_tag_filter %}
{% block content_SingleStudentCard %}
  {% for object_item in object_list %}
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{object_item.first_name}} {{object_item.last_name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"> Студент</small></h1>
              Имя: {{object_item.first_name}}<br>
              Фамилия: {{object_item.last_name}}<br>
              <img src="{% get_media_prefix object_item.avatar %}" alt="Present"><br>

            <a class="btn btn-primary" href="{% url 'students:student_detail' object_item.pk %}" role="button">Подробнее ...</a>


          </div>
        </div>
      </div>
  {% endfor %}
{% endblock %}