{% extends 'students/base.html' %}
{% load path_tag_filter %}
{% block content_SingleStudentCard %}

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">{{object.first_name}} {{object.last_name}}</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title"><small class="text-body-secondary fw-light"> Студент</small></h1>
              Имя: {{object.first_name}}<br>
              Фамилия: {{object.last_name}}<br>

              <img src="{% get_media_prefix object.avatar %}" alt="Present"><br>



          </div>
        </div>
      </div>

{% endblock %}